
<div class="main row single user-container">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  	<div class="flipper">
  		<div class="front">
        <div class="img-container">

        <%= link_to image_tag(superhero_match.image) %>
        <h3><%= superhero_match.name %></h3>
      </div>

      <div class="back">
        <div class="description">
          <h3><%= superhero_match.name %></h3>
          <p><%= superhero_match.deck %></p>
          <h3><%= link_to image_tag("tweet_button.png", :class => 'tweet_icon'), tweet_path, method: :post %></h3>
        </div>
      </div>
  	</div>
  </div>
</div>
