
<div class="row search-box">
  <div class="large-12 columns">
    <%= image_tag("searchheros.png", class: "search") %>
    <%= image_tag("searchbox.png", class: "searchbox") %>
  </div>
</div>

<div class="row main superheros">
<div><%= will_paginate @superheros %></div>
  <% @superheros.each do |superhero| %>
  <div class="large-4 columns superheros2">
  <div class="img-container">
    <%= link_to image_tag(superhero.image), superhero_path(superhero) %>
  </div>
    <h3> <%= superhero.name %> </h3>
  </div>
  <% end %>
</div>
