<div class="row main superheros">
  <div class="large-4 columns superheros2">
  <%= image_tag(@superhero.image, class: "super-img") %>
  </div>
  <div class="large-8 columns">
  <br/>
    <h1> <%= @superhero.name %> </h1>
    <p class="deck"> <%= @superhero.deck %> </p>
    <h6>Birthday : <%= @superhero.birthday %> </h6>
    <h6>Publisher : <%= @superhero.publisher %></h6> 
  </div>

