<div class="row search-box">
  <div class="large-12 columns">
    <%= image_tag("searchheros.png", class: "search") %>
    <%= image_tag("searchbox.png", class: "searchbox") %>
  </div>

</div>

  <div class="row main superheros">
    <div class="large-4 columns">
      <%= link_to image_tag("superman.png") %>
      <h3>Superman</h3>
    </div>

    <div class="large-4 columns">
      <%= link_to image_tag("batman.png") %>
      <h3>Batman</h3>
    </div>

    <div class="large-4 columns">
      <%= link_to image_tag("superwoman.png") %>
      <h3>Wonder Woman</h3>
    </div>
  </div>

  <div class="row main superheros">
    <div class="large-4 columns">
      <%= link_to image_tag("aquaman.png") %>
      <h3>Aquaman</h3>
    </div>

    <div class="large-4 columns">
      <%= link_to image_tag("arrow.png") %>
      <h3>Arrow</h3>
    </div>

    <div class="large-4 columns">
      <%= link_to image_tag("greenlantern.png") %>
      <h3>Green Latern</h3>
    </div>
  </div>

  <div class="row main superheros">
    <div class="large-4 columns">
      <%= link_to image_tag("flash.png") %>
      <h3>Flash</h3>
    </div>

    <div class="large-4 columns">
      <%= link_to image_tag("martianmanhunter.png") %>
      <h3>Martian Manhunter</h3>
    </div>

    <div class="large-4 columns">
      <%= link_to image_tag("redtornado.png") %>
      <h3>Red Tornado</h3>
    </div>
  </div>
