<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <div class="row main-nav">
      <div class="large-1 columns">
        <div class="logo"><%= image_tag("logo.png") %></div>
      </div>
      <div class="large-11 columns">
        <nav>
          <ul>
            <li><a href="/" class="active"><span>Home</span></a></li>
            <li><a href="/users/1"><span>Who Am I?</span></a></li>
            <li><a href="#"><span>Characters</span></a></li>
            <li><a href="#"><span>Login</span></a></li>
          </ul>
        </nav>

      </div>
    </div>

    <%= yield %>

    <footer class="row">

    </footer>

  </body>
</html>
